{% extends 'public/layout.html' %}

{% block content %}



{% include 'public/breadcrumbs.html' %}


	<!-- 
	=============================================
		Top Feature
	============================================== 
	-->
	<div class="top-feature style-two section-margin-bottom">
		<div class="container">
			<div class="feature-slider">
				<div class="item">
					<div class="single-feature">
						<div class="icon"><img src="{{ url_for('static', filename='public/images/icon/1.png') }}" alt=""></div>
						<h4><a href="#">Wow Members:</a></h4>
						<p>We delight our members: the why of all we do.</p>
					</div> <!-- /.single-feature -->
				</div> <!-- /.col- -->
				<div class="item">
					<div class="single-feature">
						<div class="icon"><img src="{{ url_for('static', filename='public/images/icon/2.png') }}" alt=""></div>
						<h4><a href="#">Unleash Talent:</a></h4>
						<p>We seek different perspectives and maximize potential to achieve more.</p>
					</div> <!-- /.single-feature -->
				</div> <!-- /.col- -->
				<div class="item">
					<div class="single-feature">
						<div class="icon"><img src="{{ url_for('static', filename='public/images/icon/3.png') }}" alt=""></div>
						<h4><a href="#">Be Bold:</a></h4>
						<p>We think big, move fast and own the outcome.</p>
					</div> <!-- /.single-feature -->
				</div> <!-- /.col- -->
				<div class="item">
					<div class="single-feature">
						<div class="icon"><img src="{{ url_for('static', filename='public/images/icon/1.png') }}" alt=""></div>
						<h4><a href="#">Build Together:</a></h4>
						<p>We innovate, deliver and celebrate as a team.</p>
					</div> <!-- /.single-feature -->
				</div> <!-- /.col- -->
				<div class="item">
					<div class="single-feature">
						<div class="icon"><img src="{{ url_for('static', filename='public/images/icon/2.png') }}" alt=""></div>
						<h4><a href="#">Do Good:</a></h4>
						<p>We change something for the better each day.</p>
					</div> <!-- /.single-feature -->
				</div> <!-- /.col- -->
			</div> <!-- /.feature-slider -->
		</div> <!-- /.container -->
	</div> <!-- /.top-feature -->


	<!--
	=============================================
		About US Page
	==============================================
	-->
	<div class="about-us-page section-margin-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<img src="{{ url_for('static', filename='public/images/home/5.jpg') }}" alt="">
					<div class="details-page-overview">
						<h2>You come first at Alliant</h2>
						<p>
							When you join Alliant, you are not just an account number. Alliant Credit Union is a not-for-profit financial cooperative, which means that all of our members are also owners.
						</p>
						<p>
							Our members-first philosophy has always served us well. With over 85 years of history and more than $19 billion in assets, Alliant Credit Union is the largest credit union in Illinois and one of the largest in the nation. Our excellent online, mobile and phone banking services, combined with our full suite of competitive products, make banking simpler for our 800,000+ members nationwide. 
						</p>
						<h3>I’m thankful for my strunggle because without it I wouldn’t have stumbled across my strength.</h3>
						<ul>
							<li>Small Story About Us</li>
							<li>Eligendi quaerat vitae ad quam, mollitia eum obcaecati</li>
							<li>Good luck and keep it up! </li>
							<li>I have never seen such a great quality</li>
						</ul>
						<div class="row">
							<div class="col-sm-8 col-xs-12"><img src="{{ url_for('static', filename='public/images/home/6.jpg') }}" alt=""></div>
						</div>
					</div> <!-- /.details-page-overview -->
				</div> <!-- /.col- --><!-- /.theme-sidebar -->
			</div>
		</div> <!-- /.container -->
	</div> <!-- /.about-us-page -->



	<!-- 
	=============================================
		Featured Banner
	============================================== 
	-->
	<div class="feature-banner section-margin-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-xs-12">
					<h3>What do Chartered Accountants do?</h3>
					<p>How workforce development programs turn talent puddles into talent pools , Hiring isn’t easy. Employers might get hundreds </p>
				</div> <!-- /.col- -->
				<div class="col-md-3 col-xs-12"><a href="#" class="theme-button-one float-right">Know More</a></div>
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div> <!-- /.feature-banner -->



	<!-- 
	=============================================
		Our Success Value
	============================================== 
	-->
	<div class="our-success-value section-margin-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-xs-12">
					<h3>Alliant Today</h3>
					<p>
						Alliant ranks as the one of the largest credit unions in the nation, serving 800,000 members nationwide with more than $19 billion in assets. We offer better-than-bank rates, allowing our members to save more and earn more. As a digital credit union, Alliant also provides members with top-notch online banking, an award-winning mobile banking app, retirement and investment services, ongoing personal finance education, and member-acclaimed 24/7 customer service, even on holidays!
					</p>
					<div class="piechart"  data-border-color="#4eab27" data-value=".90">
						<span>.90</span>
					</div>
				</div>
				<div class="col-md-7 col-xs-12">
					<div class="theme-counter">
						<h3>Mission</h3>
						<p>
							Alliant is unlike any other financial institution - a digital credit union that wows our members. We’re boldly disrupting banking norms to do good for our members, employees and communities.
						</p>
						<div class="row">
							<div class="col-xs-4">
								<div class="single-box">
									<h4>Members</h4>
									<h2 class="number"><span class="timer" data-from="0" data-to="800" data-speed="1000" data-refresh-interval="5">0</span>K</h2>
								</div> <!-- /.single-box -->
							</div>
							<div class="col-xs-4">
								<div class="single-box">
									<h4>In Assets</h4>
									<h2 class="number">$<span class="timer" data-from="0" data-to="19" data-speed="500" data-refresh-interval="5">0</span>B</h2>
								</div> <!-- /.single-box -->
							</div>
							<div class="col-xs-4">
								<div class="single-box">
									<h4>Loan Totals</h4>
									<h2 class="number">$<span class="timer" data-from="0" data-to="10" data-speed="500" data-refresh-interval="5">0</span>B</h2>
								</div> <!-- /.single-box -->
							</div>
						</div> <!-- /.row -->
					</div>
				</div>
			</div>
		</div> <!-- /.container -->
	</div> <!-- /.our-success-value -->




	{% include 'public/bottom-banner.html' %}

{% endblock %}