{% extends 'public/layout.html' %}

{% block content %}



{% include 'public/breadcrumbs.html' %}

<!--
			=============================================
				Service Details
			==============================================
			-->
            <div class="service-details section-margin-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="details-page-content">
                                <h2 class="main-title">Auto & Home Insurance Program Features</h2>
                                
                                <p>
                                    We've joined with a dedicated team of insurance professionals to bring you the TruStage™ Auto & Home Insurance Program.
                                </p>
                                
                                <p>
                                    Discounted rates for credit union members
                                </p>
                                
                                <p>
                                    Online services
                                </p>

                                <p>
                                    24/7 claims service
                                </p>

                                <p>
                                    Get your free quote today
                                </p>
                            </div> <!-- /.details-page-content -->
                        </div> <!-- /.col- -->
                    </div>
                </div> <!-- /.container -->
            </div> <!-- /.service-details -->


{% endblock %}