{% extends 'public/layout.html' %}

{% block content %}



{% include 'public/breadcrumbs.html' %}

<!--
			=============================================
				Service Details
			==============================================
			-->
            <div class="service-details section-margin-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="details-page-content">
                                <h2 class="main-title">Types of mortgages Alliant offers</h2>
                                <h3 class="sub-heading">Purchase</h3>
                                <p>
                                    Traditional mortgage used to purchase a new home.
                                </p>
                                
                                <h3 class="sub-heading">Refinance</h3>
                                <p>
                                    Lower your payment and/or take cash out.
                                </p>
                                <h3 class="sub-heading">Construction Loans</h3>
                                <p>
                                    One-time close options to build your dream home.
                                </p>
            
                            </div> <!-- /.details-page-content -->
                        </div> <!-- /.col- -->
                    </div>
                </div> <!-- /.container -->
            </div> <!-- /.service-details -->


{% endblock %}