{% extends 'public/layout.html' %}

{% block content %}



{% include 'public/breadcrumbs.html' %}

<!--
			=============================================
				Service Details
			==============================================
			-->
            <div class="service-details section-margin-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="details-page-content">
                                <h2 class="main-title">Three ways to build your Alliant Traditional IRA</h2>
                                <h3 class="sub-heading">Traditional IRA shares</h3>
                                <p>
                                    We offer a great savings rate for members who want to grow their money but still have easy access to it.
                                    <br>
                                    Federally insured by the NCUA.
                                </p>
                                
                                <h3 class="sub-heading">Traditional IRA certificates</h3>
                                <p>
                                    For members planning on a longer horizon for letting their nest egg grow, we offer outstanding certificate rates with terms from 12-60 months. 
                                    <br>
                                    Federally insured by the NCUA.
                                </p>
                                <h3 class="sub-heading">Investment alternative</h3>
                                <p>
                                    Alternative IRA investment options are also available through the Alliant Retirement and Investment Services Program.31 Contact a representative today for a no-cost, no-obligation retirement savings analysis that can help you determine which IRA is right for you.
                                    <br>
                                    Non-deposit investment products and insurance products are not federally insured, involve investment risk, may lose value and are not obligations of or guaranteed by the financial institution.
                                </p>
            
                                <div class="details-accordion">
                                    <h2 class="main-title">Traditional IRA FAQs</h2>
                                    <div class="panel-group theme-accordion" id="accordion">
                                        <div class="panel">
                                            <div class="panel-heading active-panel">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                        Where do I send checks for deposit to my Alliant IRA account? </a>
                                                </h5>
                                            </div>
                                            <div id="collapse1" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <p>
                                                        <h6>
                                                            Mailing Address 
                                                        </h6>                                                            
                                                        <br>
                                                        Alliant Credit Union
                                                        <br>
                                                        Attn: IRA Dept.
                                                        <br>
                                                        P.O. Box 66945
                                                        <br>
                                                        Chicago, IL 60666-0945
                                                    </p>
                                                    <p>
                                                        <h6>
                                                            Overnight Service
                                                        </h6>                                                            
                                                        <br>
                                                        Alliant Credit Union
                                                        <br>
                                                        Attn: IRA Dept.
                                                        <br>
                                                        11545 W. Touhy Avenue
                                                        <br>
                                                        Chicago, IL 60666
                                                    </p>
                                                </div>
                                            </div>
                                        </div> <!-- /panel 1 -->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                        Is there a penalty for withdrawing from my Traditional IRA before I retire?</a>
                                                </h5>
                                            </div>
                                            <div id="collapse2" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        The purpose of an IRA is to save for retirement, so this tax-advantaged savings vehicle is specifically designed to discourage investors from withdrawing funds before turning age 59½. If you do so, the IRS imposes a 10 percent penalty on top of the income taxes you pay on the withdrawal. There are some exceptions that allow early withdrawal without penalty, so please see a tax professional for more detailed tax advice or visit the IRS website. 
                                                    </p>
                                                </div>
                                            </div>
                                        </div> <!-- /panel 2 -->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                        I make too much money to qualify for an IRA tax deduction. Can I contribute to my traditional IRA? </a>
                                                </h5>
                                            </div>
                                            <div id="collapse3" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        Yes. There are no income limits to make contributions to a traditional IRA. Your ability to make deductions may be affected by filing status and your participation in an employer retirement plan
                                                    </p>
                                                </div>
                                            </div>
                                        </div> <!-- /panel 3 -->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                                        When am I required to begin withdrawing money from my traditional IRA?</a>
                                                </h5>
                                            </div>
                                            <div id="collapse4" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        You must begin to annually withdraw a required minimum distribution (RMD) from your IRA once you turn 73 years of age. RMD guidelines, set by the IRS, ensure that investors don't use an IRA as a permanent shelter from income taxes.
                                                    </p>
                                                </div>
                                            </div>
                                        </div> <!-- /panel 4 -->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                                        Can I name a beneficiary for my IRA?</a>
                                                </h5>
                                            </div>
                                            <div id="collapse5" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        Yes. There are specific rules and forms to ensure that your IRA funds are dispersed to your intended beneficiary, in case of death. You can use the Individual Retirement Account Beneficiary Designation/Change form to select your beneficiary.
                                                    </p>
                                                </div>
                                            </div>
                                        </div> <!-- /panel 5 -->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                                                        Is there a limit on the number of IRA rollovers that can be done?</a>
                                                </h5>
                                            </div>
                                            <div id="collapse6" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        Yes. Effective January 1, 2015, the IRS imposed the new IRA Rollover rule which stipulates that an IRA owner may complete only one IRA-to-IRA rollover per 365 days, regardless of how many IRAs you own, without differentiating between Traditional, Roth and SEP IRAs. This change of only one rollover per year will only affect rollovers, and will not have any impact on trustee-to-trustee transfers. The once-per-365-day rule does not apply to the direct rollover of 401(k) funds to a Traditional IRA.
                                                    </p>
                                                </div>
                                            </div>
                                        </div> <!-- /panel 5 -->
                                        
                                    </div> <!-- end #accordion -->
                                </div>
                            </div> <!-- /.details-page-content -->
                        </div> <!-- /.col- -->
                    </div>
                </div> <!-- /.container -->
            </div> <!-- /.service-details -->


{% endblock %}