{% extends 'public/layout.html' %}

{% block content %}



{% include 'public/breadcrumbs.html' %}

<!--
			=============================================
				Service Details
			==============================================
			-->
            <div class="service-details section-margin-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="details-page-content">
                                <h2 class="main-title">Accidental Death and Dismemberment Insurance</h2>
                                
                                <p>
                                    One of the nice benefits of your credit union membership is a no-cost-to-you Accidental Death and Dismemberment Insurance policy underwritten by Minnesota Life Insurance Company.30
                                </p>
                                
                                <p>
                                    This is important insurance. AD&D coverage pays you or your loved ones a cash benefit after a covered injury or loss of life due to an accident. 
                                </p>
                                
                                <p>
                                    To receive $2,000 of AD&D coverage at no cost or obligation, all you need to do is enroll.
                                </p>
                                
                                <p>
                                    For additional coverage, you can also add to your no-cost coverage by purchasing up to $300,000 of additional coverage at group rates.
                                </p>
                                
                                <p>
                                    Don't miss this opportunity to take advantage of your credit union membership. Activate your no-cost or additional AD&D insurance protection now.
                                </p>
                                
                                <p>
                                    You cannot be turned down for this coverage due to age or health. All coverage reduces by 50% at age 70 and older, regardless of age at enrollment. Help make sure your family can have money to spend for rent, mortgage, utilities, tuition, loan repayment, or for anything they choose when you’re no longer with them.
                                </p>
                            </div> <!-- /.details-page-content -->
                        </div> <!-- /.col- -->
                    </div>
                </div> <!-- /.container -->
            </div> <!-- /.service-details -->


{% endblock %}