{% extends 'public/layout.html' %}

{% block content %}



{% include 'public/breadcrumbs.html' %}

<!--
			=============================================
				Service Details
			==============================================
			-->
            <div class="service-details section-margin-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="details-page-content">
                                <h2 class="main-title">Types of trust accounts</h2>
                                <h3 class="sub-heading">High-yield savings</h3>
                                <p>
                                    Earn substantial interest and get access to some banking features with your trust account
                                </p>
                                
                                <h3 class="sub-heading">Supplemental savings</h3>
                                <p>
                                    Supplemental accounts let you easily specify the savings for a particular purpose or event.
                                </p>
                                <h3 class="sub-heading">High-Rate Checking</h3>
                                <p>
                                    Get flexible banking features for your trust account.
                                </p>
                                <h3 class="sub-heading">Certificates</h3>
                                <p>
                                    Earn a higher return on your trust account with a certificate.
                                </p>
            
                                <div class="details-accordion">
                                    <h2 class="main-title">Trust account FAQs</h2>
                                    <div class="panel-group theme-accordion" id="accordion">
                                        <div class="panel">
                                            <div class="panel-heading active-panel">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                        Where do I send checks for deposit to my Alliant IRA account? </a>
                                                </h5>
                                            </div>
                                            <div id="collapse1" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <p>
                                                        <h6>
                                                            Mailing Address 
                                                        </h6>                                                            
                                                        <br>
                                                        Alliant Credit Union
                                                        <br>
                                                        Attn: IRA Dept.
                                                        <br>
                                                        P.O. Box 66945
                                                        <br>
                                                        Chicago, IL 60666-0945
                                                    </p>
                                                    <p>
                                                        <h6>
                                                            Overnight Service
                                                        </h6>                                                            
                                                        <br>
                                                        Alliant Credit Union
                                                        <br>
                                                        Attn: IRA Dept.
                                                        <br>
                                                        11545 W. Touhy Avenue
                                                        <br>
                                                        Chicago, IL 60666
                                                    </p>
                                                </div>
                                            </div>
                                        </div> <!-- /panel 1 -->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                        What is a trustor or a trustee?</a>
                                                </h5>
                                            </div>
                                            <div id="collapse2" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        The trustor/grantor/settlor is the person who creates the trust. The trustee is the person who manages the assets in the trust. In some instances, the currently acting trustee may not be the original trustor.
                                                    </p>
                                                </div>
                                            </div>
                                        </div> <!-- /panel 2 -->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                        Who is an owner of a trust account? </a>
                                                </h5>
                                            </div>
                                            <div id="collapse3" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        An owner of a trust account is the person who has the powers to modify or revoke the terms of the trust, referred to as the trustor/grantor/settlor within the trust.
                                                    </p>
                                                </div>
                                            </div>
                                        </div> <!-- /panel 3 -->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                                        Can I add an existing trust as a beneficiary?</a>
                                                </h5>
                                            </div>
                                            <div id="collapse4" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        Yes. You can designate a trust as a beneficiary for your personal account.
                                                    </p>
                                                </div>
                                            </div>
                                        </div> <!-- /panel 4 -->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                                        What do I need to provide to Alliant in order to open a living trust?</a>
                                                </h5>
                                            </div>
                                            <div id="collapse5" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        To open a living trust, please provide copies of the pages of your Trust Agreement or Certification of Trust
                                                    </p>
                                                </div>
                                            </div>
                                        </div> <!-- /panel 5 -->
                                        
                                    </div> <!-- end #accordion -->
                                </div>
                            </div> <!-- /.details-page-content -->
                        </div> <!-- /.col- -->
                    </div>
                </div> <!-- /.container -->
            </div> <!-- /.service-details -->


{% endblock %}