{% extends 'public/layout.html' %}

{% block content %}



{% include 'public/breadcrumbs.html' %}

<!--
			=============================================
				Service Details
			==============================================
			-->
            <div class="service-details section-margin-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="details-page-content">
                                <h2 class="main-title">Homeowners Insurance Features</h2>
                                <p>
                                    The TruStage™ Home Insurance Program can provide exclusive discounted rates for Alliant members
                                </p>
                                <p>
                                    Get the convenience of online servicing and 24/7 claims service
                                </p>
                                <p>
                                    Get your free quote today
                                </p>
                                <p>
                                    Your credit union membership could result in some nice savings
                                </p>
                                <h3 class="sub-heading">TruStage™ Home Insurance Program</h3>
                                <p>
                                    Working with carefully selected insurance partners, the TruStage™ Home Insurance Program can provide exclusive discounted rates for Alliant members. You'll get quality coverage for your home including liability, personal possessions, and additional living expenses. You'll also get the convenience of online servicing and 24/7 claims service.
                                </p>
                                <p>
                                    If you haven't compared home insurance lately, it's a great time to take a look. Your credit union membership could result in some nice savings.
                                </p>
                                
                                <p>
                                    TruStage™ Home Insurance program is offered by TruStage™ Insurance Agency, LLC and issued by leading insurance companies. Discounts are not available in all states and discounts vary by state. The insurance offered is not a deposit and is not federally insured. This coverage is not sold or guaranteed by your credit union. (MAH-1112-35F0)
                                </p>
            
                            </div> <!-- /.details-page-content -->
                        </div> <!-- /.col- -->
                    </div>
                </div> <!-- /.container -->
            </div> <!-- /.service-details -->


{% endblock %}