{% extends 'public/layout.html' %}

{% block content %}



{% include 'public/breadcrumbs.html' %}

<!--
			=============================================
				Service Details
			==============================================
			-->
            <div class="service-details section-margin-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="details-page-content">
                                <h2 class="main-title">How to get your credit union car loan</h2>
                                <h3 class="sub-heading">Get a preapproved car loan</h3>
                                <p>
                                    Submit an online loan application or apply by phone at 800-328-1935 (available 24/7). We will process your application and notify you when your preapproval is completed, usually on the same day.
                                </p>
                                
                                <h3 class="sub-heading">Complete your loan documents</h3>
                                <p>
                                    Be sure to bring your preapproved loan to the dealer, as this will give you maximum leverage and help you negotiate the best deal. Once the deal is finalized, send us the purchase agreement and we can finalize your loan documents using DocuSign.
                                </p>
                                <h3 class="sub-heading">Finalize your car loan financing</h3>
                                <p>
                                    We'll send the funds for free via FedEx 2-business day shipping. Contact your loan consultant if you want it to arrive sooner for a fee (FedEx Overnight Shipping for $18 or FedEx First Overnight Shipping for $22).
                                </p>
            
                                <div class="details-accordion">
                                    <h2 class="main-title">Credit union car loan FAQs</h2>
                                    <div class="panel-group theme-accordion" id="accordion">
                                        <div class="panel">
                                            <div class="panel-heading active-panel">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                        How can being preapproved help me when I’m vehicle shopping? </a>
                                                </h5>
                                            </div>
                                            <div id="collapse1" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <p>
                                                        Being preapproved helps you focus on negotiating the best price, knowing that you won’t end up with high rate financing when you close the deal. Plus, dealers tend to take people more seriously when they come in with preapproved financing because it means you’re ready to do business and not just “window shopping.”
                                                    </p>
                                                </div>
                                            </div>
                                        </div> <!-- /panel 1 -->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                        How fast can I be approved for a vehicle loan? Can I be approved the same day that I apply?</a>
                                                </h5>
                                            </div>
                                            <div id="collapse2" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        In many cases, your loan may be approved the same day that you apply. We understand that sometimes the vehicle-buying process is urgent. Our loan specialists will answer your questions and help expedite the simple application and approval process.
                                                    </p>
                                                </div>
                                            </div>
                                        </div> <!-- /panel 2 -->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                        How long does it take to get a credit card in the mail? </a>
                                                </h5>
                                            </div>
                                            <div id="collapse3" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        Once the application is accepted, it typically takes 14-21 days to receive your new Alliant Visa credit card in the mail.
                                                    </p>
                                                </div>
                                            </div>
                                        </div> <!-- /panel 3 -->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                                        Can I pay off my loan quicker than the payment schedule?</a>
                                                </h5>
                                            </div>
                                            <div id="collapse4" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        Yes. At Alliant, there are no prepayment penalties for paying off your loan faster than your payment schedule. In fact, it’s a great way to save on interest over the long run.
                                                    </p>
                                                </div>
                                            </div>
                                        </div> <!-- /panel 4 -->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                                        Do you offer a debt protection plan?</a>
                                                </h5>
                                            </div>
                                            <div id="collapse5" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        Yes, we offer a debt protection benefit plan in the event of death, disability or involuntary unemployment. Read about the debt protection plan or speak to your Loan Consultant for additional details
                                                    </p>
                                                </div>
                                            </div>
                                        </div> <!-- /panel 5 -->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                                                        Does Alliant do car lease buyouts?</a>
                                                </h5>
                                            </div>
                                            <div id="collapse6" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        Alliant lease buyout loans are processed by our partner, Lease Maturity. Rates advertised by Alliant are not applicable. Learn more and start an application on the Lease Maturity site. By clicking on this link, you are leaving an Alliant Credit Union website and are about to enter a website operated by a third-party, independent from Alliant Credit Union. Alliant does not manage the operation or content of the website you are about to enter. The privacy and security policies of the site may differ from those of Alliant Credit Union.
                                                    </p>
                                                </div>
                                            </div>
                                        </div> <!-- /panel 5 -->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                                                        What should I do if I can’t make my payment on time?</a>
                                                </h5>
                                            </div>
                                            <div id="collapse7" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        Alliant offers a Loan Assistance Program to support our members who are suffering through a financial hardship and need extra help to get back on track financially. Learn more on the Alliant Loan Assistance Program page of our website.
                                                    </p>
                                                </div>
                                            </div>
                                        </div> <!-- /panel 5 -->
                                    </div> <!-- end #accordion -->
                                </div>
                            </div> <!-- /.details-page-content -->
                        </div> <!-- /.col- -->
                    </div>
                </div> <!-- /.container -->
            </div> <!-- /.service-details -->


{% endblock %}